<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title></title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	{% load staticfiles %}
	<link href="{% static "style.css" %}" rel="stylesheet">
</head>

<body>

<div class="wrapper">

	<header class="header">
		{% load staticfiles %}
		<img src="{% static "logo.png" %}" alt="My image"/>
	</header>

	<div class="middle">

		<div class="container">
			<main class="content"> 
				<form action="/" method="post">
				<input type="text" name="term" size="30"> <input type="submit" value="Search">
				</form>
			</main>
			<div style="margin-top:30px">
				{% if result %}
					{% for res in result %}
						<li><a href="{{res}}">{{res}}</a></li>
					{% endfor %}
				{% endif %}
			</div>
		</div>

		<aside class="left-sidebar">
			
		</aside>

		<aside class="right-sidebar">
			<br>
			<br>
			{% if birth_dict %}
				<br>
				<a href="{{birth_dict.link}}" target="_blank">{{term}}</a><br>

				{% if thumb_dict %}
				<img src="{{ thumb_dict.thumb }}" align="middle" alt="thumbnail"  height="250" width="250"><br>
				{% endif %}

				{% if desc_dict %}
				Description: {{ desc_dict.desc }}<br>
				{% endif %}

				Birth Date: {{ birth_dict.birth_date }}<br>
			{% endif %}

			{% if death_dict %}
				Death Date: {{ death_dict.death_date }}<br>
			{% endif %}
		</aside>

	</div>

	<footer class="footer">
	</footer>

</div>

</body>
</html>
