<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title></title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	{% load staticfiles %}
	<link href="{% static "style.css" %}" rel="stylesheet">
	<style>
	/* unvisited link */
	a:link {
	    color: #000000;
	}

	/* visited link */
	a:visited {
	    color: #000000;
	}

	/* mouse over link */
	a:hover {
	    color: #00FF00;
	}

	/* selected link */
	a:active {
	    color: #0000FF;
	}
	</style>
</head>

<body>

<div class="wrapper">

	<header class="header">
		{% load staticfiles %}
		<center><img src="{% static "logo.png" %}" alt="LOGO"/></center>
	</header>

	<div class="middle">

		<div class="container">
			<main class="content"> 
				<form action="/" method="post">
				<input type="text" name="term" size="30"> <input type="submit" value="Search">
				</form>
			</main>
			<div style="margin-top:30px">
				{% if result %}
					{% for res in result %}
						<li><a href="{{res}}">{{res}}</a></li>
					{% endfor %}
				{% endif %}
			</div>
		</div>

		<aside class="left-sidebar">
			
		</aside>

		<aside class="right-sidebar">
			<br>
			<br>
			{% if birth_dict %}
				<br>
				<center><a href="{{birth_dict.link}}" target="_blank">{{term}}</a></center><br><br>

				{% if thumb_dict %}
					<img src="{{ thumb_dict.thumb }}" alt="thumbnail"  height="250" width="250"><br><br>
				{% endif %}
				
				{% if bname_dict %}
					Birth Name: {{ bname_dict.bname }}<br>
				{% endif %}

				{% if loc_dict %}
					Location: {{ loc_dict.loc }}<br>
				{% endif %}

				Birth Date: {{ birth_dict.birth_date }}<br>

				{% if death_dict %}
					Death Date: {{ death_dict.death_date }}<br><br>
				{% endif %}

				{% if desc_dict %}
					<bold>Description:</bold> {{ desc_dict.desc }}<br><br>
				{% endif %}
	
			{% endif %}

			{% if pop_dict %}

				{% if loc_dict %}
				<br>
				<center>{{loc_dict.loc}}</center><br><br>
				{% endif %}

				{% if thumb_dict %}
					<img src="{{ thumb_dict.thumb }}" alt="thumbnail"  height="250" width="250"><br><br>
				{% endif %}

				<bold>Population:</bold> {{ pop_dict.pop }}<br>

				{% if elev_dict %}
					<bold>Elevation:</bold> {{ elev_dict.elev }}<br>
				{% endif %}

				{% if post_dict %}
					<bold>Postal Code:</bold> {{ post_dict.post }}<br>
				{% endif %}

				{% if area_dict %}
					<bold>Area Code:</bold> {{ area_dict.area }}<br>
				{% endif %}

			{% endif %}


		</aside>

	</div>

	<footer class="footer">
	</footer>

</div>

</body>
</html>
